<table class="g-academicos">

    <caption>Grados académicos en PNPC.</caption>
  
    <tr>
  
      <th scope="col">Nivel</th>
  
      <th>Título</th>
  
      <th>Institución</th>
      
      <th> Año </th>

      <th> Editar </th>

      <th> Eliminar </th>

        
    </tr>

  
    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
    </tr>

    <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>

      <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>
  </table>
  <div class="g-academicos col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>
  


