<p>Implementación técnologica.</p>
<form class="Agregar-implementacion row">

    <div class="agregar-implementacion col-md-3">
        <label form="tipoI">Tipo</label>
        <input type="text" id="tipoI" tipoI="user:tipoI">
    </div>

    <div class="agregar-implementacion col-md-3">
        <label form="nombreI">Nombre del producto.</label>
        <input type="text" id="nombreI" nombreI="user:nombreI">
    </div>

    <div class="agregar-implementacion col-md-3">
        <label form="numeroI">Número de registro.</label>
        <input type="text" id="numeroI" numeroI="user:numeroI">
    </div>

    <div class="agregar-implementacion col-md-3">
        <label form="fechaI">Fecha de registro.</label>
        <input type="date" id="fechaI" fechaA="user:fechaI">
    </div>

    <div class="agregar-implementacion col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>


