<table class="n-academico">

    <caption>Autoría y coautoría de libros y/o capítulos de libros científicos.</caption>
  
    <tr>
  
      <th scope="col">Título</th>
  
      <th>Autor/Coautor</th>
  
      <th>Editorial</th>
   
      <th> Editar </th>

      <th> Eliminar</th>

        
    </tr>

    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
      <td> </td>

      <td> </td>
      
    </tr>
  
    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
      <td> </td>

      <td> </td>

      
    </tr>

    <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
  
        <td> </td>
  
    
      </tr>

      <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
  
  
        <td> <img src="iconos/eliminar.png"> </td>
    
      </tr>
  </table>
  <div class="form-agregar col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>