
<table class="n-academico">

    <caption>Nivel Académico</caption>
  
    <tr>
  
      <th scope="col">Nivel</th>
  
      <th>Nombre del estudio</th>
  
      <th>Institución ortogante</th>
  
      <th>Año de obtención de grado</th>
      
      <th> Editar </th>

      <th> Eliminar</th>

        
    </tr>

    <tr>
  
      <th>Licenciatura</th>
  
      <td> </td>
  
      <td> </td>
  
      <td> </td>

      <td> </td>
      <td> </td>
  
    </tr>
  
    <tr>
  
      <th> Especialidad</th>
  
      <td> </td>
  
      <td> </td>
  
      <td> </td>

      <td> </td>

      <td> </td>
  
    </tr>

    <tr>
  
        <th> Maestría</th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
  
        <td> </td>
  
        <td>  </td>
    
      </tr>

      <tr>
  
        <th> Doctorado</th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
  
        <td> </td>
  
        <td> <img src="iconos/eliminar.png"> </td>
    
      </tr>
  </table>
  <div class="n-academico col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Enviar" name="Enviar"/></p>
 </div>
  