
<p>Patentes</p>
<form class="Agregar-patentes row">

    <div class="agregar-patentes col-md-3">
        <label form="tipo">Tipo</label>
        <input type="text" id="tipo" tipo="user:tipo">
    </div>

    <div class="Agregar-patentes col-md-3">
        <label form="nombreP">Nombre del producto</label>
        <input type="text" id="nombreP" nombreP="user:nombreP">
    </div>

    <div class="agregar-patentes col-md-3">
        <label form="noregistro">Número de registro.</label>
        <input type="text" id="noregistro" noregistro="user:noregistro">
    </div>

    <div class="agregar-patentes col-md-3">
        <label form="fechaP">Fecha.</label>
        <input type="date" id="fechaP" fechaP="user:fechaP">
    </div>

    <div class="agregar-patentes col-md-3">
        <label form="referenciap">Referencia</label>
        <input type="text" id="referenciap" referenciap="referenciap">
    </div>

    <div class="agregar-revista col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>