<p>Agregar Sistema Nacional de Investigadores</p>
<form class="Agregar-sni row">

    <div class="agregar-sni col-md-3">
        <label form="nivelsni">Nivel</label>
        <select>
        <option selected disabled>Selecciona una opción</option>
        <option>1</option>
    </select>
    </div>


    <div class="agregar-sni col-md-3">
        <label form="añosni">Año.</label>
        <input type="date" id="añosni" añosni="user:añosni">
    </div>

    <div class="agregar-sni col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>