<p>Grado académico en PNPC</p>
<form class="Agregar-grado row">

    <div class="agregar-grado col-md-3">
        <label form="nivelg">Nivel</label>
        <select>
        <option selected disabled>Selecciona una opción</option>
        <option>1</option>
    </select>
    </div>

    <div class="agregar-grado col-md-3">
        <label form="titulog">Título.</label>
        <input type="text" id="titulog" titulog="user:titulog">
    </div>

    <div class="agregar-grado col-md-3">
        <label form="instituciong">Institución.</label>
        <input type="text" id="instituciong" instituciong="user:instituciong">
    </div>

    <div class="agregar-grado col-md-3">
        <label form="añog">Año.</label>
        <input type="date" id="añog" añog="user:añog">
    </div>

    <div class="agregar-grado col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>


