
<p>Registrar estancias.</p>
<form class="agregar-estancias row">

    <div class="agregar-estancias col-md-3">
        <label form="institucione">Institución</label>
        <input type="text" id="institucione" institucione="user:institucione">
    </div>

    <div class="agregar-estancias col-md-3">
        <label form="proyectoe">Proyecto</label>
        <input type="text" id="proyectoe" proyectoe="user:proyectoe">
    </div>

    <div class="agregar-estancias col-md-3">
        <label form="fechae">Fecha de inicio.</label>
        <input type="date" id="fechae" fechae="user:fechae">
    </div>

    <div class="agregar-estancias col-md-3">
        <label form="fechaT">Fecha de termino.</label>
        <input type="date" id="fechaT" fechaT="user:fechaT">
    </div>

    <div class="agregar-estancias col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>