<table class="estancias">

    <caption>Estancias.</caption>
  
    <tr>
  
      <th scope="col">Institución</th>
  
      <th>Proyecto</th>
  
      <th>Fecha de inicio</th>
      
      <th>Fecha de termino</th>

      <th> Editar </th>

      <th> Eliminar</th>

        
    </tr>

    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
    </tr>

    <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
      </tr>
  
    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
    </tr>

    <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>

      <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>
  </table>
  <div class="n-estancias col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>
  