
<p>Artículo de revista indexada</p>
<form class="Agregar-revista row">

    <div class="agregar-revista col-md-3">
        <label form="articulo">Título del artículo</label>
        <input type="text" id="articulo" articulo="user:articulo">
    </div>

    <div class="agregar-revista col-md-3">
        <label form="autores">Autor o coautor.</label>
        <input type="text" id="autores" autores="user:autores">
    </div>

    <div class="agregar-revita col-md-3">
        <label form="fechaP">Fecha de publicación.</label>
        <input type="date" id="fechaP" fechaP="user:fechaP">
    </div>

    <div class="agregar-revista col-md-3">
        <label form="fechaA">Fecha de aceptación.</label>
        <input type="date" id="fechaA" fechaA="user:fechaA">
    </div>

    <div class="agregar-revista col-md-3">
        <label form="nombreR">Nombre de la revista.</label>
        <input type="text" id="nombreR" nombreR="nombreR">
    </div>

    <div class="agregar-revista col-md-3">
        <label form="nombreR">Nombre de la revista.</label>
        <input type="text" id="nombreR" nombreR="nombreR">
    </div>

    <div class="agregar-revista col-md-3">
        <label form="nombreR">Pertenece.</label>
        <select></select>
        <option selected disabled>Selecciona una opción</option>
        <option>1</option>
        
    </div>

    <div class="agregar-revista col-md-3">
        <label form="referenciaR">Referencia.</label>
        <input type="text" id="referenciaR" referenciaR="referenciaR">
    </div>

    <div class="agregar-revista col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>

