<p>Artículos de revista indexada.</p>
<table class="revista">

    <caption>Artículos de revista indexada.</caption>
  
    <tr>
  
      <th scope="col">Nombre</th>
  
      <th>Autor</th>
  
      <th>Revista</th>
      
      <th> Fecha de aceptación </th>

      <th> Fecha de publicación</th>

      <th> Editar </th>

      <th> Eliminar </th>

        
    </tr>

    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
    </tr>
  
    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
    </tr>

    <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>

      <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>
  </table>
  <div class="n-academico col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>
  
