<p>Proyectos de investigacón.</p>
<form class="proyectos-de-investigacion row">

    <div class="proyectos-de-investigacion col-md-3" >
            <label form="referencia">Referencia.</label>
            <input type="text" id="referencia" referencia="user:referencia">
    </div>

    <div class="proyectos-de-investigacion col-md-3" >
        <label form="titulo">Título.</label>
        <input type="text" id="titulo" titulo="user:titulo">
    </div>

    <div class="proyectos-de-investigacion col-md-3" >
        <label form="particion">Partición.</label>
        <input type="text" id="particion" particion="user:particion">
    </div>

    <div class="proyectos-de-investigacion col-md-3" >
        <label form="fechai">Fecha de inicio.</label>
        <input type="date" id="fechai" fechai="user:fechai">
    </div>

    <div class="proyectos-de-investigacion col-md-3" >
        <label form="fechat">Fecha de termino.</label>
        <input type="date" id="fechat" fechat="user:fechat">
    </div>
    
    <div class="proyectos-de-investigacion col-md-3" >
        <label form="fechat">Area.</label>
        <select>
            <option selected disabled>Seleccione una opción</option>
        </select>
    </div>

    <div class="proyectos-de-investigacion col-md-3" >
        <label form="Institucion">Institución principal.</label>
        <input type="text" id="Institucion" Institucion="user:Institucion">
    </div>

    <div class="proyectos-de-investigacion col-md-3" >
        <label form="InstitucionA">Instituciones asociadas.</label>
        <input type="text" id="InstitucionA" InstitucionA="user:InstitucionA">
    </div>

    <div class="proyectos-de-investigacion col-md-3">
        <label form="p2">Fuente de financiamiento.</label>
        <p><input type="radio" name="GF" value="GF"/> Gobierno Federal </p>
        <p><input type="radio" name="GF" value="GF"/> Gobierno Estatal</p>
        <p><input type="radio" name="cona" value="cona"/> Conacyt</p>
        <p><input type="radio" name="ong" value="ong"/> ONG</p>
        <p><input type="radio" name="fomix" value="fomix"/> Fomix</p>
        <p><input type="radio" name="IP" value="IP"/> Institución perteneciente</p>
        <p><input type="radio" name="otro" value="otro"/> Otro</p>
    
        </div>

        <div class="proyectos-de-investigacion col-md-3" >
            <label form="Monto">Monto del financiamiento.</label>
            <input type="number" id="Monto" Monto="user:Monto">
        </div>
    
        <div class="proyectos-de-investigacion col-md-3">
            <label form="p2">Productos derivados.</label>
            <p><input type="radio" name="GF" value="GF"/> Reporte técnicos </p>
            <p><input type="radio" name="GF" value="GF"/> Prototipo</p>
            <p><input type="radio" name="cona" value="cona"/> Publicación</p>
            </div>
        
            <div class="proyectos-de-investigacion col-md-3" >
                <label form="usuario">Usuarios.</label>
                <input type="text" id="usuario" usuario="user:ususario">
            </div>

        
     <div class="form-agregar col-md-3">
        <p><input type="button" value= "Aceptar" name="aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="cancelar"/></p>
     </div>
</form>
