
<app-general-data> </app-general-data>
<app-nacimiento></app-nacimiento>
<app-contacto></app-contacto>
<app-desarrollo></app-desarrollo>
<app-nivel-academico></app-nivel-academico>
<app-informacion-academica></app-informacion-academica>
<app-coautorialibros></app-coautorialibros>
<app-agregar-libros></app-agregar-libros>
<app-proyectos-investigacion></app-proyectos-investigacion>
<app-patentes></app-patentes>
<app-agregar-patentes></app-agregar-patentes>
<app-revista></app-revista>
<app-agregar-revista></app-agregar-revista>
<app-divulgacion-cientifica></app-divulgacion-cientifica>
<app-agregar-divulgacion-cientifica></app-agregar-divulgacion-cientifica>
<app-implementacion-tecnologica></app-implementacion-tecnologica>
<app-agregar-implementacion-tecnologica></app-agregar-implementacion-tecnologica>
<app-grados-academicos></app-grados-academicos>
<app-agregar-grados-academicos></app-agregar-grados-academicos>
<app-obtencion-grados></app-obtencion-grados>
<app-agregar-obtencion-grados></app-agregar-obtencion-grados>
<app-sni></app-sni>
<app-agregar-sni></app-agregar-sni>
<app-estancias></app-estancias>
<app-agregar-estancias></app-agregar-estancias>
<app-ine></app-ine>
<app-adscripcion-institucional></app-adscripcion-institucional>
<app-participacion-enproyectos></app-participacion-enproyectos>
<app-produccion-cientifica></app-produccion-cientifica>


