<p>Agregar Información Académica</p>
<form class="form-agregar row">

   <div class="form-agregar col-md-3">
    <label form="nivel">Nivel.</label>
       <select>
       <option selected disabled>Selecciona una opción.</option> 
       <option>Licenciatura.</option>
       <option>Especialidad.</option> 
       <option>Maestria.</option>
       <option>Doctorado</option>
       </select>

    </div>

    <div class="form-agregar col-md-3">
       <label form="titulo">Titulo.</label>
       <input type="text" id="titulo" titulo="user:titulo">
    </div>

    <div class="form-agregar col-md-3">
        <label form="institucion">Institución.</label>
        <input type="text" id="institucion" institucion="user:institucion">
     </div>

     <div class="form-agregar col-md-3">
        <label form="año"> Año.</label>
        <select>
            <option selected disabled>Selecciona una opción.</option>
            <option>1</option>
            <option>2</option>
            <option>3</option> 
        </select>
     </div>
     <div class="form-agregar col-md-3">
        <p><input type="button" value= "aceptar" name="aceptar"/></p>
        <p><input type="button" value= "cancelar" name="cancelar"/></p>
     </div>
    
</form>