<p>DESARROLLO.</p>
<form class="form-desarrollo row">
    
    <div class="form-desarrollo col-md-3">

       <label form="p1">Area de la ciencia en la que desarrolla actividades científicas, técnologicas y/o innovación.</label>
       <select>
       <option selected disabled>Selecciona una opción.</option> 
       <option>Física, Matemáticas y Ciencias de la Tierra.</option>
       <option>Biología y química.</option> 
       <option>Medicina y salud.</option>
       <option>Humanidades y ciencias de la conducta.</option>
       <option>Sociales y económicas.</option>
       <option>Biotecnogía y ciencias agropecuarias.</option>
       <option>Ingeniería e industria.</option>
       </select>

    </div>
   
    <div class="form-desarrollo col-md-3">
        <label for="campo">Campo.</label>
        <select>
            <option selected disabled>Selecciona una opción.</option>
            <option>Lógica.</option>
            <option>Matemáticas</option>
            <option>Astronomía y Astrofísica</option>
            <option>Física</option>
            <option>Ciencias de la tierra y del cosmos</option>
            <option>Química</option>
            <option>Ciencias de la vida</option>
            <option>Medicina y patologia humana</option>
            <option>Antropología</option>
            <option>Historia</option>
            <option>LingÜística</option>
            <option>Pedagogía</option>
            <option>Psicopedagogía.</option>
        </select>
    </div>

    <div class="form-desarrollo col-md-3">
        <label form="disiplina">Displina.</label>
        <select>
            <option selected disabled>Selecciona una opción.</option>
            <option>1</option>
            <option>2</option>
            <option>3</option> 
        </select>

    </div>

    <div class="form-desarrolladores col-md-3">
    <label form="p2">¿Ha sido mienbro del Sistema Veracruzano de Investigadores en ediciones anteriores, SVI?</label>
    <p><input type="radio" name="R2si" value="R2si"/> Sí </p>
    <p><input type="radio" name="R2No" value="R2No"/> No </p>
    </div>

    <div class="form-desarrolladores col-md-3">
        <label form="p3">¿Participó como estudiante en algun programa de Verano de Investigación Científica?</label>
        <p><input type="radio" name="R3si" value="Rsi"/> Sí </p>
        <p><input type="radio" name="R3No" value="RNo"/> No </p>
    </div>
    
    <div class="form-desarrolladores col-md-3">
     <label form="programa">¿En que programa?</label>
     <input type="text" id="programa" programa="user:programa">
    </div>

    <div>
        <label form="año">¿En que año?</label>
        <select>
            <option disabled selected>Selecione.</option>
            <option>2022</option>
            <option>...</option>
        </select>
    </div>
    
    <div class="form-dato col-md-3">
        <p><input type="button" value= "Guardar" name="guardar"/></p>
        <p><input type="button" value= "Siguiente" name="siguiente"/></p>
     </div>
</form>
