<p>Documento probatorio de la participación en proyectos.</p>

<div class="proyectos col-md-3">
    <p><input type="button" value= "Seleccionar Archivo" name="proyectos"/></p>
</div>
<table class="proyectos">

 
    <tr>
      <th scope="col">Archivo</th>

      <th>Eliminar</th>
    </tr>

    <tr>
      <td> </td>
    </tr>
  
    <tr>
      <td> </td>
    </tr>

    
  </table>
  <div class="ine col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>
