<p>Documento probatorio de adscripción institucional.</p>

<div class="adscripcion col-md-3">
    <p><input type="button" value= "Seleccionar Archivo" name="Documento"/></p>
</div>
<table class="adscripcion">

 
    <tr>
      <th scope="col">Archivo</th>

      <th>Eliminar</th>
    </tr>

    <tr>
      <td> </td>
    </tr>
  
    <tr>
      <td> </td>
    </tr>

    
  </table>
  <div class="adscripcion col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>
  

