h1{
    font-size: 20pt;
    width: 100%;
    text-align: center;
  }

.form_div{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
.general_form{
    padding: 2rem 5rem;
    width: 100%;
  }
.general_form input {
    margin: 1.5rem auto;
    width: 30%;
    border-radius: 0.5rem;
    padding: 0.75rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
    flex-direction: column;
  }

  label{
    font-size: 1rem;
    margin-bottom: 0.2rem;

  }
  .input_div {
    width: 100%;
    display: flex;
  }

  .general_form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.500rem;
    font-weight: bold;
    width: 33%;
    display: block;
    padding: 0.200rem 4rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
    
  }
  .next button{
    font-size: 1.3rem;
    color: #04032E;
    padding: 0.75rem 1.2rem;
    background-color: #ffffff;
    border: 2px solid  #04032E;
    border-radius: 5px;
  }
  .aceptar button{
    font-size: 1.3rem;
    color: #ffffff;
    padding: 0.75rem 1.2rem;
    border: 2px solid #ffffff;
    background-color: #04032E;
    border-radius: 5px;
  }

  .button_div {
    width: 100%;
    display: flex;
    justify-content: center;
  }