<p>DATOS GENERALES</p>
<P>DATOS PERSONALES</P>

<form class="form-dato row">
    
    <div class="form-dato col-md-3">

       <label for="name">Nombre(s).</label>
       <input type="text" id="name" name="user_name">
    </div>

    <div class="form-dato col-md-3"> 
       <label for="apellidoP">Apellido Paterno.</label>
       <input type="text" id="apellidoP" apellidoP="user:apellidoP">
    </div>

    <div class="form-dato col-md-3">
       <label for="apellidoM">Apellido Materno.</label>
       <input type="text" id="apellidoM" apellidoM="user:apellidoM">
    </div>

    <div class="form-dato col-md-3">
       <label for="rfc">RFC.</label>
       <input type="text" id="rfc" rfc="user:rfc">
    </div>

    <div class="form-dato col-md-3">
       <label for="curp">CURP.</label>
       <input type="text" id="curp" curp="user:curp">
    </div>

    <div class="form-dato col-md-3">
       <label for="sexo">Sexo.</label>
       <p><input type="radio" name="hombre" value="hombre"/> Hombre </p>
       <p><input type="radio" name="mujer" value="mujer"/> Mujer </p>
    </div>

    <div class="form-dato col-md-3">
       <p><input type="button" value= "Guardar" name="guardar"/></p>
       <p><input type="button" value= "Siguiente" name="siguiente"/></p>
    </div>
    
   </form>
