<P>DATOS PERSONALES</P>

<form class="form-ncimiento row">

   <div class="form-nacimiento col-md-3">
      <label for="cp">C.P.</label>
      <input type="text" id="cp" cp="cp">
   </div>
    
    <div class="form-nacimiento col-md-3">
       <label for="pais">País.</label>
       <input type="text" id="pais" pais="pais">
    </div>

    <div class="form-nacimiento col-md-3"> 
       <label for="estado">Estado.</label>
       <input type="text" id="estado" estado="estado">
    </div>

    <div class="form-nacimiento col-md-3">
       <label for="ciudad">Ciudad.</label>
       <input type="text" id="ciudad" ciudad="user:estado">
    </div>

    <div class="form-nacimiento col-md-3">
       <label for="f-nacimiento">Fecha de nacimiento.</label>
       <input type="date" id="f-nacimiento" f-nacimiento="user:f-nacimiento">
    </div>

    <div class="form-nacimiento col-md-3">
       <label for="fm">No. FM(Extrangeros).</label>
       <input type="text" id="fm" fm="user:fm">
    </div>

    

    <div class="form-dato col-md-3">
       <p><input type="button" value= "Guardar" name="guardar"/></p>
       <p><input type="button" value= "Siguiente" name="siguiente"/></p>
    </div>
    
   </form>
