<p>Libros y/o capitulos de libros</p>
<form class="form-libros row">


    <div class="form-agregar col-md-3">
       <label form="titulo">Titulo.</label>
       <input type="text" id="titulo" titulo="user:titulo">
    </div>

    <div class="form-libros col-md-3">
        <label form="autor">Autor.</label>
        <input type="text" id="autor" autor="user:autor">
     </div>

     <div class="form-libros col-md-3">
        <label form="editorial">Editorial.</label>
        <input type="text" id="editorial" editorial="user:editorial">
     </div>

     <div class="form-libros col-md-3">
        <label form="referencia">Referencia.</label>
        <input type="text" id="referencia" referencia="user:referencia">
     </div>

     <div class="form-agregar col-md-3">
        <p><input type="button" value= "Aceptar" name="aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="cancelar"/></p>
     </div>
    
</form>
