<p>Documento probatorio de la producción científica.</p>

<div class="científica col-md-3">
    <p><input type="button" value= "Seleccionar Archivo" name="científica"/></p>
</div>
<table class="científica">

 
    <tr>
      <th scope="col">Archivo</th>

      <th>Eliminar</th>
    </tr>

    <tr>
      <td> </td>
    </tr>
  
    <tr>
      <td> </td>
    </tr>

    
  </table>
  <div class="científica col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Finalizar" name="Finalizar"/></p>
 </div>
  

