<table class="sni">

    <caption>Sistema Nacional de Investigadores</caption>
  
    <tr>
  
      <th scope="col">Año</th>
  
      <th>Nivel</th>

      <th> Editar </th>

      <th> Eliminar </th>

        
    </tr>

  
    
        <td> </td>
    

      <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>
  </table>
  <div class="sni col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>
  


