<table class="revista">

    <caption> Tesina, artículo de investigación, tesis o proyecto de investigación aprobado por comité o jurado, para la obtención de un grado académico del candidato.
    </caption>
  
    <tr>
  
      <th scope="col">Nombre</th>
  
      <th>Institución</th>
  
      <th>Año</th>
      
      <th> Nivel </th>

      <th> Editar </th>

      <th> Eliminar </th>

        
    </tr>

  
    <tr>
  
      <th></th>
  
      <td> </td>
  
      <td> </td>
  
    </tr>

    <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>

      <tr>
  
        <th></th>
    
        <td> </td>
    
        <td> </td>
    
        <td> </td>
    
      </tr>
  </table>
  <div class="n-academico col-md-3">
    <p><input type="button" value= "Agregar" name="Agregar"/></p>
    <p><input type="button" value= "Siguiente" name="Siguiente"/></p>
 </div>