<p>Agregar obtención de grado del candidato.</p>
<form class="Agregar-obtencion row">

   

    <div class="agregar-obtencion col-md-3">
        <label form="nombreO">Nombre.</label>
        <input type="text" id="nombreO" nombreO="user:nombreO">
    </div>

    <div class="agregar-obtencion col-md-3">
        <label form="institucionO">Institución.</label>
        <input type="text" id="institucionO" institucionO="user:institucionO">
    </div>

    <div class="agregar-obtencion col-md-3">
        <label form="añoO">Año.</label>
        <input type="date" id="añoO" añoO="user:añoO">
    </div>

    <div class="agregar-obtencion col-md-3">
        <label form="nivelO">Nivel</label>
        <select>
        <option selected disabled>Selecciona una opción</option>
        <option>1</option>
    </select>
    </div>

    <div class="agregar-obtencion col-md-3">
        <p><input type="button" value= "Aceptar" name="Aceptar"/></p>
        <p><input type="button" value= "Cancelar" name="Cancelar"/></p>
     </div>

</form>


